<!-- <div>
    <div *ngFor = 'let movie of response.results'>
        <mat-card class = "card">
            <img mat-card-image [src]="'https://image.tmdb.org/t/p/w342/'+movie.poster_path" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <mat-card-title>{{movie.title}}</mat-card-title>
                <mat-card-subtitle>{{movie.release_date}}</mat-card-subtitle>
            </mat-card-content>
        </mat-card>
    </div>
</div> -->

<div>
    <mat-grid-list cols="5" rowHeight = "180px">
        <mat-grid-tile *ngFor='let movie of response.results'>
            <mat-card class="card">
                <img mat-card-image [src]="'https://image.tmdb.org/t/p/w342/'+movie.poster_path" alt="poster">
                <mat-card-content>
                    <mat-card-title>{{movie.title}}</mat-card-title>
                    <mat-card-subtitle>{{movie.release_date}}</mat-card-subtitle>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>

<!-- "https://material.angular.io/assets/img/examples/shiba2.jpg" -->