<div *ngIf='!loader'>
    <div class="container">
        <!-- Carousel-->
        <div id="carouselExampleIndicators" class="row carousel slide carousel-styles" data-ride="carousel">
            <ol class="carousel-indicators">
                <li *ngFor='let backdrop of getBackdrops()' data-target="#carouselExampleIndicators"
                    data-slide-to="backdrop.indicator" [ngClass]="{'active': backdrop.indicator === 0}"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item" *ngFor='let backdrop of getBackdrops()'
                    [ngClass]="{'active': backdrop.indicator === 0}">
                    <div class="carousel-image">
                        <img [src]="backdrop.backdrop" class="d-block w-100 carousel-image-2 minWH" alt="...">
                    </div>
                    <div class="carousel-caption d-none d-md-block scrim">
                        <h5>{{backdrop.title}}</h5>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <!-- Movie List-->
        <div class="row movie-list-style">
            <div *ngFor='let movie of response.results'>
                <div routerLink='/movie-details' (click)="passId(movie.id)" class="card">
                    <img class="image" [src]="'https://image.tmdb.org/t/p/w342/'+movie.poster_path">
                    <div class="title">
                        <div class="text">{{movie.title}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Invalid message-->
<section *ngIf="loader" style="margin-top: 10%;">
    <div style="text-align: center;">
        <span style="font-size: 30px; color:white">
                {{errorMessage}}
        </span>
    </div>
</section>