.card {
    max-width: 180px;
    margin: 10px;
}

.title {
    font-size: 15px;
}

.subtitle {
    font-size: 12px;
}


.container {
    display: flex;
    flex-flow: row wrap;
    flex: auto;
    max-height: 200px
}