<div *ngFor = "let product of products">
    <div class = "card">
        <div class = "card-image">
            <img src = {{product.productImage}} alt="Product Image">
        </div>
        <div class = "card-body">
            <h5 class = "card-title">{{ product.productName }}</h5>
            <p class = "card-text">{{ product.productDescription }}</p>
            <p class = "card-text">Price: {{ product.productPrice | currency}}</p>
        </div>
        <div class = "card-button-container">
        <button class = "card-button" (click) = "increment(product)" [disabled]="product.productQuantity == 10">+</button>
        <p class = "card-text-button">{{ product.productQuantity }}</p>
        <button class = "card-button" (click) = "decrement(product)" [disabled]="product.productQuantity == 0">-</button>
        </div>
    </div>
</div>