    .backdrop {
       width: 100%;
       max-height: 450px; 
       z-index: 1;
       background-color: #14181C;
       margin-top: 55px;
    }

    .backdrop img {
        object-fit: fill;
        height: -webkit-fill-available;
        width: 100%;
        padding: 0% 17% 0% 17%;
    }

    .card-container {
        padding: 0px 15px 0px 15px;
        margin: 0% 16% 0% 16%;
        position: relative;
        z-index: 2;
        top: -45px;
    }

    .container {
        background-color: #14181C;
        margin: 0px;
        padding: 0px;
        max-width: 100%;
    }

    .card {
        max-width: 200px;
        max-height: 240px;
        margin: 10px;
        position: relative;
        border-radius: 5px;
        padding: 0px;
        background-color: #14181C;
    }

    .card img {
        object-fit: fill;
        border-radius: inherit;
        max-width: inherit;
        max-height: inherit;
    }

    .title {
        top: 15px;
        color: #FFFFFF;
    }
    
    .subtitle {
        color: #99AABB;
        padding-right: 5px;
    }

    .overview {
        color: #99AABB;
        font-size: 20px;
    }

    .tagline {
        color: #99AABB;
        font-family: 'Times New Roman', Times, serif;
    }

    .genre-container {
        display: flex;
        flex-flow: row wrap;
    }

    .margin-5{
        margin: 5px;
    }

    .margin-left-right-16percent {
        margin: 0% 17% 0% 17%;
    }

    .margin-left-right-20percent {
        margin: 0% 20% 0% 20%;
    }

    .PlaceholderText {
        margin: 2% 20% 2% 20%;
    }

    .similar-container{
        display: flex;
        flex-flow: row wrap;
        background-color: #14181C;
        margin: 0% 18% 0% 18%;

        img{
            border-radius: inherit;
            width: 170px;
            height: 190px;
        }
    }

    .similar-card {
        max-width: 170px;
        max-height: 190px;
        margin: 10px;
        position: relative;
        border-radius: 5px;
        background-color: #14181C;
        cursor: pointer;
    }

    .similar-image {
        opacity: 1;
        display: block;
        width: 100%;
        height: auto;
        transition: .5s ease;
        backface-visibility: hidden;
    }

    .similar-text {
        
        color: white;
        font-size: 18px;
        font-weight: bold;
        padding: 16px 32px;
    }

    
    .similar-title {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
        align-content: center;
        font-size: 15px;
    }

    .similar-card:hover .similar-image{
        opacity: 0.3;
    }
    .similar-card:hover .similar-title {
        opacity: 1;
    }
