<section class="container">
    <div *ngIf="!loading">
        <div class="backdrop">
            <img [src]="'https://image.tmdb.org/t/p/original/' + movieDetails.backdrop_path">
        </div>
        <div class="row card-container">
            <div class="card col">
                <img [src]="'https://image.tmdb.org/t/p/w342/'+movieDetails.poster_path">
            </div>
            <div class="col">
                <h2 class="title">{{movieDetails.original_title}}</h2>
                <span class="row">
                    <p class="col-sm-2 subtitle">{{movieDetails.release_date}}</p>
                    <p class="col-sm-10 subtitle">{{movieDetails.runtime}} mins</p>
                </span>
                <p class="subtitle">{{movieDetails.tagline | uppercase }}</p>
                <p class=overview>{{movieDetails.overview}}</p>
                <div class = "genre-container">
                    <div *ngFor='let genre of genres'>
                        <span class="badge badge-pill badge-dark margin-5">{{genre.name}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>