<nav class="navbar navbar-expand-lg navbar-dark fixed-top container">
    <a class="navbar-brand" routerLink="/popular-movies">ShowBox</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" mat-button routerLink="/popular-movies">Popular Movies</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" mat-button routerLink="/bookmarks">Bookmarks</a>
            </li>
        </ul>
        <!-- Search -->
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" [(ngModel)]= 'query' name="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="button" (click)="onSubmit()">Search</button>
        </form>
    </div>
</nav>
<main>
    <router-outlet class ="router-outlet-style"></router-outlet>
</main>